<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Dating App</title>
</head>

<body>
    <header>
        <nav class="nav-wrapper transparent">
            <div class="container">
                <a href="#!" class="brand-logo pink-text text-darken-2">Dating App</a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="waves-effect waves-light btn modal-trigger grey darken-3" href="#modal1">Login</a>
                    </li>
                    <li><a class="waves-effect waves-light btn modal-trigger grey darken-3" href="#modal2">SignUp</a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="nav-wrapper transparent hide-on-med-and-up">
            <div class="center container ">
                <a class="waves-effect waves-light btn modal-trigger grey darken-3" href="#modal1">Login</a>
                <a class="waves-effect waves-light btn modal-trigger grey darken-3" href="#modal2">SignUp</a>
            </div>
        </nav>
    </header>

    <!-- Modal Structure -->
    <!-- Login -->
    <form action="/login" method="POST">
        <div id="modal1" class="modal">
            <div class="modal-content grey lighten-3">
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input type="text" id="login-email" name="email">
                    <label for="login-email">Your Email</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" id="login-password" name="password">
                    <label for="login-password">Your Password</label>
                </div>
                <div class="input-field center">
                    <button class="btn">Login</button>
                </div>
            </div>
        </div>
    </form>
    <!-- Displaying Errors using Materialize Cards -->
    <% errors.forEach((error) => { %>
    <div class="container">
        <div class="row">
            <div class="col l12">
                <div class="card">
                    <div class="card-content">
                        <p><%= (error); %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }) %>

    <% regErrors.forEach((err) => { %>
    <div class="container">
        <div class="row">
            <div class="col l12">
                <div class="card">
                    <div class="card-content">
                        <p><%= (err); %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }) %>




    <!-- Modal Structure -->
    <!-- Sign Up -->
    <form action="/signup" method="POST">

        <div id="modal2" class="modal">
            <div class="modal-content grey lighten-3">

                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input type="text" id="email" name="email">
                    <label for="email">Your Email</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" id="password" name="password">
                    <label for="password">Your Password</label>
                </div>
                <div class="input-field">
                    <input type="file" name="userImg">
                </div>
                <div class="input-field center">
                    <button class="btn">Signup</button>
                </div>
            </div>
        </div>
    </form>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="index.js"></script>
</body>

</html>
